<%- partial('_partial/head') %>

  <body>
    <div class="mdl-grid main-wrapper">
      <div class="mdl-cell mdl-cell--3-col">
        <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      </div>
      <div class="mdl-cell mdl-cell--8-col main-container mdl-shadow--2dp">
        <div class="outer">
          <section id="main">
            <%- body %>
          </section>
          <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
              <% } %>
        </div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <div class="mdl-layout-spacer"></div>
      <%- partial('_partial/after-footer') %>
    </div>
  </body>

  </html>
